<div class="zt">
	消息管理
</div>
<div class="kk2">
	<div class="bt">
		系统消息: <%= link_to @system_messages_count, {:action => "list", :message_type => Message::SYSTEM_MESSAGES}%>
	</div>
	<div class="bt">
		好友请求: <%= link_to @friends_requests_count, {:action => "list", :message_type => Message::FRIEND_REQUEST}%>
	</div>
	<div class="bt">
		用户消息: <%= link_to @user_messages_count, {:action => "list", :message_type => Message::USER_RECEIVED}%>
	</div>
</div>
<br />

<%= link_to 'New Message', new_message_path %>
