<div class="zt">
	<%=I18n.t("messages.message_type_#{@message_type}")%>
</div>
<div class="kk2">
	<%@messages.each do |message|%>
	<div class="bt">
		<%=message.other_user_name%>:<%=message.content%>
	</div>
	<%end%>
</div>
<br />

<div class="kk2">
	<%= will_paginate @messages %>
</div>
