<div class="kk2">
	<% form_tag '', :method=>'GET' do %>
		<input type="text" size="12"  name="search_str" />
		<%= submit_tag "搜好友" %><%= link_to "加好友", {:action => "edit", :id => '1'} %>
	<% end %>
</div>

<% @users.each do |user| %>

<div class="kk2">
	<div class="bt">
	<%= user.signature %> 
		
</div>
	</div>
<% end %>
