<div class="friend">
		<div class="middle">
			黄辰晶
		</div><hr />
				<table>
					<tbody>
						<tr>
							<td>
								<img src="img/dd.png" width="80" height="80"  />							</td>

							<td valign="top">
								男/深圳/为人父母<br />
								<span>我不是美女，因为我太帅，我是帅哥。</span><br />
								<div class="tblue">加为好友</div>
								<div class="tblue">给他发消息</div>
							</td>
							
							
						</tr>

					</tbody>
				</table>
			<hr />

	<div >
	好友评价：<br /><a href="Yueyue-denglu.html">鲜花[5]</a>&nbsp;&nbsp;<a href="">砖头[2]</a>
	<hr />
	他的好友：<br />

	<a href="">黄辰晶</a>
	<a href="">果果</a>
	<a href="">豆豆</a>
	<a href="">爱谁</a>
  </div>
</div>

<div class="zt">他的约约    	</div>

		<div class="kk2">
			<div class="bt">
				[09.10]		
				<a href="Yueyue-xingxi.html">看看电影</a>
				<span>参加[10]</span>		
			</div>
		<div class="bt">
			[09.18]
			<a href="Yueyue-xingxi.html">今天晚上去吃火锅</a>

			<span>参加[0]</span>		
		  </div>
		<div class="bt">
			[08.08]
		  	<a href="Yueyue-xingxi.html">黑乎乎的夜，干什么？</a>
		  	<span>参加[125]</span>		
		</div>
		<div class="bt">
			[09.10]
			<a href="Yueyue-xingxi.html">今晚打灰狼</a> 
		 	<span>参加[25]</span>		
		  </div>

		<div class="bt">
		  	[08.15]
			<a href="Yueyue-xingxi.html">今晚杀人！！！</a>
			<span>参加[15]</span>		
		</div>
		<div class="bt">
			[08.20]
			<a href="Yueyue-xingxi.html">今天晚上接着搞网络</a>
			<span>参加[8]</span>		
		</div>

	</div>