
     <div class="logo"> <img src="/images/yuey.gif" width="91" height="35" alt="约约" /> 
     </div>
	      <div class="top">
   
          欢迎您到约约
     </div>
   <div>
        <% form_tag do %>
           <div>
		   手机|邮箱|用户名<br/>
          <%= text_field_tag :name, params[:name] %><br/>
		
		   密码<br/>
          <%= password_field_tag :password, params[:password] %><br/>
		  <%= submit_tag "登录" %>
		  <%= link_to '注册', new_user_path %>  
		  
           </div>
		 <% end %>
   </div>

   <div class="foot">
         <a href="http://3g.sina.com.cn/3g/pro/index.php?sa=t271d6v147">加入我们</a>
         |<a href="http://3g.sina.com.cn/3g/pro/index.php?sa=t271d13v147 ">联系我们</a>
				 <br>
         <a class="bl" href="http://3g.sina.com.cn">手机约约网</a>
            -
         <a class="bl" href="http://3g.sina.com.cn/3g/news/index.php?tid=124&did=13098&vid=84&pos=101">导航</a>
             -
          <a class="bl" href="http://3g.sina.com.cn/iask/?p=3g&pos=101">搜索</a>
            <br>
           yueyue.cn[11-08 10:16]
      </div>