   <div>
        <% form_tag do %>
           <div>
		   手机|邮箱|用户名<br/>
          <%= text_field_tag :name, params[:name], :size => 30 %><br/>
		
		   密码<br/>
          <%= password_field_tag :password, params[:password], :size => 30 %><br/>
		  <%= submit_tag "登录" %>
		  <%= link_to '注册', new_user_path %>  
		  
           </div>
		 <% end %>
   </div>
