<p id="notice"><%= notice %></p>

<p>
  <b>动作（method@class）:</b>
  <%= @yueyue_type_action.name %>
</p>
<%= link_to '修改', edit_yueyue_type_action_path(@yueyue_type_action) %> |
<%= link_to '返回', yueyue_type_path(@yueyue_type_action.yueyue_type) %>
