<% if @message != nil %>
<div class="error">
	<%= @message %>
</div>
<% end %>

<div class="bd">
	<%= form_tag do %>
	<label>请输入账号</label>
	<div class="item">
		<%= text_field_tag(:account_name) %>
	</div>
	<div class="submit-item">
		<%= submit_tag "找回密码" %>
	</div>
	<% end %>
</div>