<% if @account %>
	<% form_tag(:action => "update_password", :id => @account.id) do %>
	<div>
		密码<br/>
		<%= password_field_tag(:password) %>
	</div>
	<div>
		确认密码<br/>
		<%= password_field_tag(:password_confirmation) %>
	</div>
	<div>
		<%= submit_tag "更改密码" %>
	</div>
	<% end %>
<% else %>
	<div>
	<%= "用户未登录"%>
    </div>
<% end %>